        <section>
            <!-- viewport -->
            <canvas id="viewport" width="800" height="600">
        </section>

        <aside>
            <!-- options -->
            <input id="chat-text" type="text">
            <input id="chat-button" type="button" value="Send">
        </aside>

        <section id="messages">
            <!-- mesages -->
        </section>

        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.keylisten.min.js"></script>
        <script src="nowjs/now.js"></script>
        <script src="js/shoot-lah.js"></script>
